<a href="https://colab.research.google.com/github/xersuy/pandas_10min_study/blob/main/pandas_10min_class_11_29.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Reshaping Data

* sort_values, rename, sort_index, reset_index로 데이터 프레임 Reshaping하기

In [6]:
import pandas as pd
import numpy as np
import seaborn as sns

In [7]:
df = sns.load_dataset("mpg")
df.shape

(398, 9)

In [8]:
df.sort_values('mpg')

      mpg  cylinders  displacement  ...  model_year  origin                  name
28    9.0          8         304.0  ...          70     usa              hi 1200d
25   10.0          8         360.0  ...          70     usa             ford f250
26   10.0          8         307.0  ...          70     usa             chevy c20
103  11.0          8         400.0  ...          73     usa      chevrolet impala
124  11.0          8         350.0  ...          73     usa      oldsmobile omega
..    ...        ...           ...  ...         ...     ...                   ...
326  43.4          4          90.0  ...          80  europe    vw dasher (diesel)
394  44.0          4          97.0  ...          82  europe             vw pickup
325  44.3          4          90.0  ...          80  europe  vw rabbit c (diesel)
329  44.6          4          91.0  ...          80   japan   honda civic 1500 gl
322  46.6          4          86.0  ...          80   japan             mazda glc

[398 rows x 9 columns]

In [11]:
df.sort_values('cylinders')

      mpg  cylinders  ...  origin                       name
111  18.0          3  ...   japan                  maxda rx3
71   19.0          3  ...   japan            mazda rx2 coupe
334  23.7          3  ...   japan              mazda rx-7 gs
243  21.5          3  ...   japan                 mazda rx-4
267  27.5          4  ...   japan              toyota corona
..    ...        ...  ...     ...                        ...
86   14.0          8  ...     usa                amc matador
285  17.0          8  ...     usa  chevrolet caprice classic
286  17.6          8  ...     usa            ford ltd landau
92   13.0          8  ...     usa                   ford ltd
0    18.0          8  ...     usa  chevrolet chevelle malibu

[398 rows x 9 columns]

In [12]:
df.sort_values('mpg').head()

      mpg  cylinders  displacement  ...  model_year  origin              name
28    9.0          8         304.0  ...          70     usa          hi 1200d
25   10.0          8         360.0  ...          70     usa         ford f250
26   10.0          8         307.0  ...          70     usa         chevy c20
103  11.0          8         400.0  ...          73     usa  chevrolet impala
124  11.0          8         350.0  ...          73     usa  oldsmobile omega

[5 rows x 9 columns]

In [13]:
# ascending 오르는 상승적인, 위를 향한 [형용사]
# 오름차순
df.sort_values('mpg', ascending=False)

      mpg  cylinders  displacement  ...  model_year  origin                  name
322  46.6          4          86.0  ...          80   japan             mazda glc
329  44.6          4          91.0  ...          80   japan   honda civic 1500 gl
325  44.3          4          90.0  ...          80  europe  vw rabbit c (diesel)
394  44.0          4          97.0  ...          82  europe             vw pickup
326  43.4          4          90.0  ...          80  europe    vw dasher (diesel)
..    ...        ...           ...  ...         ...     ...                   ...
103  11.0          8         400.0  ...          73     usa      chevrolet impala
67   11.0          8         429.0  ...          72     usa       mercury marquis
25   10.0          8         360.0  ...          70     usa             ford f250
26   10.0          8         307.0  ...          70     usa             chevy c20
28    9.0          8         304.0  ...          70     usa              hi 1200d

[398 rows x 9 columns]

In [14]:
# 역순
df.sort_values('mpg', ascending=True).head()

      mpg  cylinders  displacement  ...  model_year  origin                  name
28    9.0          8         304.0  ...          70     usa              hi 1200d
25   10.0          8         360.0  ...          70     usa             ford f250
26   10.0          8         307.0  ...          70     usa             chevy c20
103  11.0          8         400.0  ...          73     usa      chevrolet impala
124  11.0          8         350.0  ...          73     usa      oldsmobile omega
..    ...        ...           ...  ...         ...     ...                   ...
326  43.4          4          90.0  ...          80  europe    vw dasher (diesel)
394  44.0          4          97.0  ...          82  europe             vw pickup
325  44.3          4          90.0  ...          80  europe  vw rabbit c (diesel)
329  44.6          4          91.0  ...          80   japan   honda civic 1500 gl
322  46.6          4          86.0  ...          80   japan             mazda glc

[398 rows x 9 columns]