<a href="https://colab.research.google.com/github/xersuy/pandas_10min_study/blob/main/pandas_10min_class_15_29.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Group Data
**groupby 활용하여 다양한 데이터 집계를 활용하기**

In [35]:
import pandas as pd
import seaborn as sns

In [36]:
df = sns.load_dataset('mpg')
df.head()

    mpg  cylinders  displacement  ...  model_year  origin                       name
0  18.0          8         307.0  ...          70     usa  chevrolet chevelle malibu
1  15.0          8         350.0  ...          70     usa          buick skylark 320
2  18.0          8         318.0  ...          70     usa         plymouth satellite
3  16.0          8         304.0  ...          70     usa              amc rebel sst
4  17.0          8         302.0  ...          70     usa                ford torino

[5 rows x 9 columns]

In [37]:
"""
origin 기준으로 그룹화를 하고 사이즈를 확인
"""
df.groupby(by='origin').size()

origin
europe     70
japan      79
usa       249
dtype: int64

In [38]:
"""
위 와 같이 사이즈를 구하는 방법
"""
df['origin'].value_counts()

usa       249
japan      79
europe     70
Name: origin, dtype: int64

In [39]:
df.groupby(by='origin')['cylinders'].size()

origin
europe     70
japan      79
usa       249
Name: cylinders, dtype: int64

In [40]:
pd.DataFrame(df.groupby(['origin', 'model_year'])['cylinders'].mean())

                   cylinders
origin model_year
europe 70           4.000000
       71           4.000000
       72           4.000000
       73           4.000000
       74           4.000000
       75           4.000000
       76           4.250000
       77           4.000000
       78           4.833333
       79           4.250000
       80           4.111111
       81           4.500000
       82           4.000000
japan  70           4.000000
       71           4.000000
       72           3.800000
       73           4.250000
       74           4.000000
       75           4.000000
       76           4.500000
       77           4.166667
       78           4.000000
       79           4.000000
       80           4.076923
       81           4.333333
       82           4.000000
usa    70           7.636364
       71           6.200000
       72           6.888889
       73           7.241379
       74           6.266667
       75           6.400000
       76           6.363636
       77           6.222222
       78           6.000000
       79           6.260870
       80           4.285714
       81           4.923077
       82           4.300000

In [68]:
df2 = pd.DataFrame(
    [[4, 7, 10],
     [5, 8, 11],
     [6, 9, 12]],
     index=[1, 2, 3],
     columns=['a', 'b', 'c'])
df2

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [42]:
df2.shift(1)

     a    b     c
1  NaN  NaN   NaN
2  4.0  7.0  10.0
3  5.0  8.0  11.0

In [43]:
df2['b'].shift(1)

1    NaN
2    7.0
3    8.0
Name: b, dtype: float64

In [50]:
df['model_year'].rank(method="min").value_counts()

86.0     40
245.0    36
183.0    34
368.0    31
153.0    30
339.0    29
281.0    29
310.0    29
1.0      29
217.0    28
58.0     28
30.0     28
126.0    27
Name: model_year, dtype: int64

In [58]:
df['model_year'].rank(pct=True, method="first")

0      0.002513
1      0.005025
2      0.007538
3      0.010050
4      0.012563
         ...
393    0.989950
394    0.992462
395    0.994975
396    0.997487
397    1.000000
Name: model_year, Length: 398, dtype: float64

In [65]:
df2

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [64]:
df2.cumsum()

    a   b   c
1   4   7  10
2   9  15  21
3  15  24  33

In [69]:
df2.cummax()

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [70]:
df2.cummin()

   a  b   c
1  4  7  10
2  4  7  10
3  4  7  10

In [71]:
df2.cumprod()

     a    b     c
1    4    7    10
2   20   56   110
3  120  504  1320