<a href="https://colab.research.google.com/github/xersuy/pandas_10min_study/blob/main/pandas_10min_class_11_29.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Reshaping Data

* sort_values, rename, sort_index, reset_index로 데이터 프레임 Reshaping하기

In [33]:
import pandas as pd
import numpy as np
import seaborn as sns

In [34]:
df = sns.load_dataset("mpg")
df.shape

(398, 9)

In [35]:
df.sort_values('mpg')

      mpg  cylinders  displacement  ...  model_year  origin                  name
28    9.0          8         304.0  ...          70     usa              hi 1200d
25   10.0          8         360.0  ...          70     usa             ford f250
26   10.0          8         307.0  ...          70     usa             chevy c20
103  11.0          8         400.0  ...          73     usa      chevrolet impala
124  11.0          8         350.0  ...          73     usa      oldsmobile omega
..    ...        ...           ...  ...         ...     ...                   ...
326  43.4          4          90.0  ...          80  europe    vw dasher (diesel)
394  44.0          4          97.0  ...          82  europe             vw pickup
325  44.3          4          90.0  ...          80  europe  vw rabbit c (diesel)
329  44.6          4          91.0  ...          80   japan   honda civic 1500 gl
322  46.6          4          86.0  ...          80   japan             mazda glc

[398 rows x 9 columns]

In [36]:
df.sort_values('cylinders')

      mpg  cylinders  ...  origin                       name
111  18.0          3  ...   japan                  maxda rx3
71   19.0          3  ...   japan            mazda rx2 coupe
334  23.7          3  ...   japan              mazda rx-7 gs
243  21.5          3  ...   japan                 mazda rx-4
267  27.5          4  ...   japan              toyota corona
..    ...        ...  ...     ...                        ...
86   14.0          8  ...     usa                amc matador
285  17.0          8  ...     usa  chevrolet caprice classic
286  17.6          8  ...     usa            ford ltd landau
92   13.0          8  ...     usa                   ford ltd
0    18.0          8  ...     usa  chevrolet chevelle malibu

[398 rows x 9 columns]

In [37]:
df.sort_values('mpg').head()

      mpg  cylinders  displacement  ...  model_year  origin              name
28    9.0          8         304.0  ...          70     usa          hi 1200d
25   10.0          8         360.0  ...          70     usa         ford f250
26   10.0          8         307.0  ...          70     usa         chevy c20
103  11.0          8         400.0  ...          73     usa  chevrolet impala
124  11.0          8         350.0  ...          73     usa  oldsmobile omega

[5 rows x 9 columns]

In [38]:
# ascending 오르는 상승적인, 위를 향한 [형용사]
# 오름차순
df.sort_values('mpg', ascending=False)

      mpg  cylinders  displacement  ...  model_year  origin                  name
322  46.6          4          86.0  ...          80   japan             mazda glc
329  44.6          4          91.0  ...          80   japan   honda civic 1500 gl
325  44.3          4          90.0  ...          80  europe  vw rabbit c (diesel)
394  44.0          4          97.0  ...          82  europe             vw pickup
326  43.4          4          90.0  ...          80  europe    vw dasher (diesel)
..    ...        ...           ...  ...         ...     ...                   ...
103  11.0          8         400.0  ...          73     usa      chevrolet impala
67   11.0          8         429.0  ...          72     usa       mercury marquis
25   10.0          8         360.0  ...          70     usa             ford f250
26   10.0          8         307.0  ...          70     usa             chevy c20
28    9.0          8         304.0  ...          70     usa              hi 1200d

[398 rows x 9 columns]

In [39]:
# 역순
df.sort_values('mpg', ascending=True).head()

      mpg  cylinders  displacement  ...  model_year  origin              name
28    9.0          8         304.0  ...          70     usa          hi 1200d
25   10.0          8         360.0  ...          70     usa         ford f250
26   10.0          8         307.0  ...          70     usa         chevy c20
103  11.0          8         400.0  ...          73     usa  chevrolet impala
124  11.0          8         350.0  ...          73     usa  oldsmobile omega

[5 rows x 9 columns]

In [40]:

df = df.rename(columns = {'model_year':'year'})
df

      mpg  cylinders  displacement  ...  year  origin                       name
0    18.0          8         307.0  ...    70     usa  chevrolet chevelle malibu
1    15.0          8         350.0  ...    70     usa          buick skylark 320
2    18.0          8         318.0  ...    70     usa         plymouth satellite
3    16.0          8         304.0  ...    70     usa              amc rebel sst
4    17.0          8         302.0  ...    70     usa                ford torino
..    ...        ...           ...  ...   ...     ...                        ...
393  27.0          4         140.0  ...    82     usa            ford mustang gl
394  44.0          4          97.0  ...    82  europe                  vw pickup
395  32.0          4         135.0  ...    82     usa              dodge rampage
396  28.0          4         120.0  ...    82     usa                ford ranger
397  31.0          4         119.0  ...    82     usa                 chevy s-10

[398 rows x 9 columns]

In [41]:
df

      mpg  cylinders  displacement  ...  year  origin                       name
0    18.0          8         307.0  ...    70     usa  chevrolet chevelle malibu
1    15.0          8         350.0  ...    70     usa          buick skylark 320
2    18.0          8         318.0  ...    70     usa         plymouth satellite
3    16.0          8         304.0  ...    70     usa              amc rebel sst
4    17.0          8         302.0  ...    70     usa                ford torino
..    ...        ...           ...  ...   ...     ...                        ...
393  27.0          4         140.0  ...    82     usa            ford mustang gl
394  44.0          4          97.0  ...    82  europe                  vw pickup
395  32.0          4         135.0  ...    82     usa              dodge rampage
396  28.0          4         120.0  ...    82     usa                ford ranger
397  31.0          4         119.0  ...    82     usa                 chevy s-10

[398 rows x 9 columns]

In [42]:
df.sort_index()

      mpg  cylinders  displacement  ...  year  origin                       name
0    18.0          8         307.0  ...    70     usa  chevrolet chevelle malibu
1    15.0          8         350.0  ...    70     usa          buick skylark 320
2    18.0          8         318.0  ...    70     usa         plymouth satellite
3    16.0          8         304.0  ...    70     usa              amc rebel sst
4    17.0          8         302.0  ...    70     usa                ford torino
..    ...        ...           ...  ...   ...     ...                        ...
393  27.0          4         140.0  ...    82     usa            ford mustang gl
394  44.0          4          97.0  ...    82  europe                  vw pickup
395  32.0          4         135.0  ...    82     usa              dodge rampage
396  28.0          4         120.0  ...    82     usa                ford ranger
397  31.0          4         119.0  ...    82     usa                 chevy s-10

[398 rows x 9 columns]

In [43]:
# 인덱스가 없을때 새로 만든다.
df = df.reset_index()
df

     index   mpg  cylinders  ...  year  origin                       name
0        0  18.0          8  ...    70     usa  chevrolet chevelle malibu
1        1  15.0          8  ...    70     usa          buick skylark 320
2        2  18.0          8  ...    70     usa         plymouth satellite
3        3  16.0          8  ...    70     usa              amc rebel sst
4        4  17.0          8  ...    70     usa                ford torino
..     ...   ...        ...  ...   ...     ...                        ...
393    393  27.0          4  ...    82     usa            ford mustang gl
394    394  44.0          4  ...    82  europe                  vw pickup
395    395  32.0          4  ...    82     usa              dodge rampage
396    396  28.0          4  ...    82     usa                ford ranger
397    397  31.0          4  ...    82     usa                 chevy s-10

[398 rows x 10 columns]

In [48]:
# df
df = df.drop(columns=['mpg', 'year', 'name'])
df

     index  cylinders  displacement  horsepower  weight  acceleration  origin
0        0          8         307.0       130.0    3504          12.0     usa
1        1          8         350.0       165.0    3693          11.5     usa
2        2          8         318.0       150.0    3436          11.0     usa
3        3          8         304.0       150.0    3433          12.0     usa
4        4          8         302.0       140.0    3449          10.5     usa
..     ...        ...           ...         ...     ...           ...     ...
393    393          4         140.0        86.0    2790          15.6     usa
394    394          4          97.0        52.0    2130          24.6  europe
395    395          4         135.0        84.0    2295          11.6     usa
396    396          4         120.0        79.0    2625          18.6     usa
397    397          4         119.0        82.0    2720          19.4     usa

[398 rows x 7 columns]