<a href="https://colab.research.google.com/github/xersuy/pandas_10min_study/blob/main/pandas_10min_class_08_29.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Summarize Data 
## **apply(function)**

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

In [3]:
df = sns.load_dataset('iris')

df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [8]:
# 익명함수를 통해서 값을 가져올 수 있다.
#lambda x : x[:3] 익명함수로 함수를 만들어서 사용할 수 있다.
df['species'].apply(lambda x : x[:3])

0      set
1      set
2      set
3      set
4      set
      ...
145    vir
146    vir
147    vir
148    vir
149    vir
Name: species, Length: 150, dtype: object

In [11]:
df['species_3'] = df['species'].apply(lambda x:x[:3])
df

     sepal_length  sepal_width  petal_length  petal_width    species species_3
0             5.1          3.5           1.4          0.2     setosa       set
1             4.9          3.0           1.4          0.2     setosa       set
2             4.7          3.2           1.3          0.2     setosa       set
3             4.6          3.1           1.5          0.2     setosa       set
4             5.0          3.6           1.4          0.2     setosa       set
..            ...          ...           ...          ...        ...       ...
145           6.7          3.0           5.2          2.3  virginica       vir
146           6.3          2.5           5.0          1.9  virginica       vir
147           6.5          3.0           5.2          2.0  virginica       vir
148           6.2          3.4           5.4          2.3  virginica       vir
149           5.9          3.0           5.1          1.8  virginica       vir

[150 rows x 6 columns]

In [14]:
# 뒤에서 3번째까지의 문자를 가져오는 함수
def smp(x):
  x = x[-3:]
  return x

In [16]:
df['species-3'] = df['species'].apply(smp)
df

     sepal_length  sepal_width  petal_length  ...    species species_3 species-3
0             5.1          3.5           1.4  ...     setosa       set       osa
1             4.9          3.0           1.4  ...     setosa       set       osa
2             4.7          3.2           1.3  ...     setosa       set       osa
3             4.6          3.1           1.5  ...     setosa       set       osa
4             5.0          3.6           1.4  ...     setosa       set       osa
..            ...          ...           ...  ...        ...       ...       ...
145           6.7          3.0           5.2  ...  virginica       vir       ica
146           6.3          2.5           5.0  ...  virginica       vir       ica
147           6.5          3.0           5.2  ...  virginica       vir       ica
148           6.2          3.4           5.4  ...  virginica       vir       ica
149           5.9          3.0           5.1  ...  virginica       vir       ica

[150 rows x 7 columns]